@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 1vw;
  font-family: "Lexend", sans-serif;
}
body {
  background: #000;
  background-image: url("../img/home/home-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 87.4375rem;
  margin-inline: auto;
}

@media (max-width: 639.98px) {
  html {
    font-size: 4.267vw;
  }

  .container {
    width: 100%;
    padding-inline: 1rem;
  }
}
/* 
.num-container {
  display: inline-flex;
  overflow: hidden;
  width: max-content;
  position: relative;
}
.number_parent {
  position: relative;
  overflow: hidden;
  width: 2rem;
}
.number_child {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
}
.number_child div {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */
