.hero-section {
  margin-top: 6.75rem;
  position: relative;
}
.hero-section > .hero-section__star {
  position: absolute;
  width: 0.92619rem;
  height: 1.0585rem;
}
.hero-section > .hero-section__star:nth-child(1) {
  top: 1.3125rem;
  left: 4.0625rem;
}
.hero-section > .hero-section__star:nth-child(2) {
  top: 3.375rem;
  left: 43.3125rem;
}
.hero-section > .hero-section__star:nth-child(3) {
  top: 33rem;
  left: 6.9375rem;
}
.hero-section .hero-section-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-section .hero-section-left {
  display: flex;
  width: 35.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex-shrink: 0;
}
.hero-section .hero-section-left-content__title {
  font-family: "Plus Jakarta Sans";
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.03125rem;
  background: var(
    --gradient,
    linear-gradient(90deg, #ccfbb6 0%, #6dffee 50.41%, #88ff6b 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.5rem;
}
.hero-section .hero-section-left-content__title br {
  display: none;
}
.hero-section .hero-section-left-content__title strong {
  position: relative;
  background: var(--gr, linear-gradient(0deg, #d8f8e1 0%, #98efaf 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.hero-section .hero-section-left-content__title strong svg {
  position: absolute;
  top: 4.78806rem;
  left: 0;
  width: 18.1875rem;
}
.hero-section .hero-section-left-content__desc {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 2rem;
}
.hero-section .hero-section-left-content__btn-detail {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.hero-section .hero-section-right {
  position: relative;
  width: 38.4375rem;
  height: 38.4375rem;
  flex-shrink: 0;
}
.hero-section .hero-section-right__card-tag {
  position: absolute;
  top: 31.5rem;
  left: 0rem;
  width: 20rem;
}
.hero-section .hero-section-right__card-tag img {
  width: 100%;
}
.hero-section .hero-section-right__banner-universe {
  width: 100%;
  height: 100%;
}
.hero-section .hero-section-right__banner-universe img {
  width: 100%;
  object-fit: cover;
}
.hero-section
  .hero-section-right__banner-universe.hero-section-right__banner-universe--mb {
  display: none;
}

@media (max-width: 639.98px) {
  .hero-section {
    position: relative;
    margin-bottom: 4.5rem;
  }
  .hero-section .hero-section-inner {
    display: flex;
    align-items: center;
    justify-content: unset;
    flex-direction: column;
  }
  .hero-section .hero-section-left {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
  }

  .hero-section .hero-section-left-content__title {
    padding-top: 1.5rem;
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 0;
  }
  .hero-section .hero-section-left-content__desc {
    padding: 0 0.75rem;
    text-align: center;
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
  }
  .hero-section .hero-section-left-content__btn-detail {
    width: 100%;
  }
  .hero-section .hero-section-right {
    display: none;
  }
  .hero-section .hero-section-right__banner-universe {
    width: 100%;
    height: 100%;
  }
  .hero-section .hero-section-right__banner-universe img {
    width: 100%;
    object-fit: cover;
  }
  .hero-section
    .hero-section-right__banner-universe.hero-section-right__banner-universe--pc {
    display: none;
  }
  .hero-section
    .hero-section-right__banner-universe.hero-section-right__banner-universe--mb {
    display: block;
    width: 18.75rem;
    height: 18.75rem;
    margin-inline: auto;
    margin-top: -0.625rem;
    margin-bottom: 1.75rem;
  }
  .hero-section .hero-section-left-content__title strong svg {
    top: 2.5rem;
    width: 8.49619rem;
    height: 0.40094rem;
  }
  .hero-section .hero-section-left-content__title br {
    display: block;
  }
  .hero-section > .hero-section__star {
    display: none;
  }
}
