.partner {
  position: relative;
  margin-top: 7.56rem;
  margin-bottom: 45.67rem;
}
.partner .partner-inner {
  width: 69.53425rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partner .partner__title {
  margin-bottom: 2rem;
}
.partner .partner__subtitle {
  margin-bottom: 1.5em;
}
.partner .partner__desc {
  width: 30.5625rem;
  margin-inline: auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 1.5rem;
}
.partner .partner-bg {
  top: 13.37rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 100%;
  height: 71.8125rem;
  pointer-events: none;
}
.partner .partner__list {
  position: relative;
  width: 100%;
}
.partner .slider {
  position: relative;
  width: 100%;
}
.partner .slider::after {
  content: "";
  position: absolute;
  width: 74.75rem;
  height: 5.8125rem;
  top: -0.1875rem;
  left: -0.9032rem;
  background: linear-gradient(
    90deg,
    #0e0e0e -6.97%,
    rgba(14, 14, 14, 0) 12.83%,
    rgba(14, 14, 14, 0) 79.85%,
    #0e0e0e 94.35%
  );
}

.partner .slider__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 5.45538rem;
  gap: 3.125rem;
}

.partner .slider[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.partner .slider[data-animated="true"] .slider__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.partner .slider[data-direction="right"] {
  --_animation-direction: reverse;
}

.partner .slider[data-direction="left"] {
  --_animation-direction: forwards;
}

.partner .slider[data-speed="fast"] {
  --_animation-duration: 20s;
}

.partner .slider[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.partner .slider-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.partner .slider-list .slider-item {
  position: relative;
  width: 11.5rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner .slider-list .slider-item img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  pointer-events: none;
  filter: invert(53%) sepia(11%) saturate(240%) hue-rotate(71deg)
    brightness(93%) contrast(88%);
}

@media (max-width: 639.98px) {
  .partner {
    margin-bottom: 16.5rem;
  }
  .partner .partner-inner {
    width: 100%;
  }
  .partner .partner__title {
    margin-bottom: 0.625rem;
  }
  .partner .partner__subtitle {
    margin-bottom: 1rem;
  }
  .partner .partner__desc {
    margin-bottom: 1.25rem;
    width: 19.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.6;
  }
  .partner .slider__inner {
    gap: 1.69656rem;
    height: 3.15563rem;
  }
  .partner .slider::after {
    height: 3.15563rem;
  }
  .partner .slider-list .slider-item {
    width: 6.24331rem;
    height: 1.69656rem;
  }
  .partner .partner-bg {
    /* width: 30.9375rem; */
    width: 100%;
    height: 22.217rem;
  }
}
